/* Order in which CSS files are read.

  01. bootstrap.css
  02. mermaid.css
  03. font-awesome.min.css
  04. ionicons.min.css
  05. style.css by typora-icon
  06. style.css by typora-file-icon
  07. base.css
  08. base-control.css
  09. codemirror.css
  10. window.css
  11. megamenu.css
  12. bg.css
  13. current-theme.css <- this file.
  14. base_user_css
  15. theme_user_css

  Ref:window.html
*/

/* Use Web Fonts.

  "Noto Sans JP" is lisenced under the SIL Open Font License 1.1
  http://fonts.googleapis.com
  https://www.google.com/fonts/attribution
  http://scripts.sil.org/OFL
*/
@font-face {
  font-family:'Noto Sans JP', sans-serif;
  font-style:normal;
  font-weight:normal;
  src:local('Noto Sans JP Regular'), local('NotoSansJP-Regular'), url('./honey/NotoSansJP-Regular.otf') format('otf');
}

@font-face {
  font-family:'Noto Sans JP', sans-serif;
  font-style:normal;
  font-weight:bold;
  src:local('Noto Sans JP Bold'), local('NotoSansJP-Bold'), url('./honey/NotoSansJP-Bold.otf') format('otf');
}

/* Overwriting `:root` */
:root{
  --theme-color:#FDDEA5;
  --bg-color:#F4F5F7;
  --text-color:#333333;

  /*  mermaid.css
      item use diagram Tool.
  */
  --mermaid-theme:default;
  --mermaid-sequence-numbers:off;
  --mermaid-flowchart-curve:linear;
  --mermaid--gantt-left-padding:75;
  --sequence-theme:simple;

  /*  Related to window.css
      Background color when selected.
  */
  --select-text-bg-color:#4A8AF4;
  --select-text-font-color:#FFFEF9;
  /* font-family */
  --monospace:'Noto Sans JP', Consolas;
  /* use element .mac-os-11 */
  --title-bar-height:20px;

  /* base-control.css */
  /*
    .md-meta
    .md-def-name:after
    .md-def-title:before
    .md-def-url:empty:before
    .md-def-footnote .md-def-content:empty:after
    .md-header-span .md-attr,
    h1.md-focus .md-attr,
    h2.md-focus .md-attr,
    h3.md-focus .md-attr,
    h4.md-focus .md-attr,
    h5.md-focus .md-attr,
    h6.md-focus .md-attr
  */
  --md-char-color:#C7C5C5;
  /*
    .md-focus .md-expand>img{display:none}.md-content
    .md-image>.md-show-hint:after,
  */
  --meta-content-color:#5B808D;
  /*
    .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) *
    .on-focus-mode .md-end-block:not(.md-focus) img,
    .on-focus-mode .md-task-list-item:not(.md-focus-container)>input
    .on-focus-mode li[cid]:not(.md-focus-container)
    .on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) *,
    .on-focus-mode .md-fences.md-focus .CodeMirror-code>:not(.CodeMirror-activeline) *,
    .on-focus-mode .md-htmlblock.md-focus .CodeMirror-code>:not(.CodeMirror-activeline) *
  */
  --blur-text-color:#C8C8C8;
  /*
    .typora-on-moving td,
    .typora-on-moving th,
    td.typora-on-moving,
    th.typora-on-moving
  */
  --drag-placeholder-color:#C7C5C5;
  /*
    pre.md-fences-advanced.md-focus .md-fences-adv-panel
    .md-toc:focus .md-toc-content
  */
  --panel-border-color:#777777;
  /*
    .searchpanel-search-option-btn.active
    .searchpanel-search-option-btn
  */
  --active-toggle-btn-color:#A5D4AD;
  /*
    .md-grid-board a
  */
  --table-border-color:#CCCCCC;
  /*
    #md-resize-grid
    .ty-side-sort-btn.active
    .selected-folder-menu-item a:after
    .outline-item.select,.ty-search-item-line.select,
    .ty-search-item.select
    #zoom-hint #zoom-hint-reset
  */
  --primary-color:#428BCA;
  /*
    #md-resize-grid
  */
  --primary-btn-border-color:#285E8E;
  --primary-btn-text-color:#FFFFFF;
  /*
    .cm-search-hit.CodeMirror-selectedtext,
    .md-search-hit.md-search-select,
    .md-search-select
    .cm-s-inner .cm-search-hit.CodeMirror-selected,
    .cm-s-inner .cm-search-hit.CodeMirror-selectedtext
  */
  --search-select-bg-color:#000000;
  /*
    .cm-search-hit.CodeMirror-selectedtext,
    .md-search-hit.md-search-select,
    .md-search-select
    .cm-s-inner .cm-search-hit.CodeMirror-selected,
    .cm-s-inner .cm-search-hit.CodeMirror-selectedtext
  */
  --search-select-text-color:#FFFFFF;
  /* Change the style of icons when the focus is on headers 3 through 6. */
  --heading-char-color:var(--theme-color);
  --color-popover-bg-color:#FAFAFAFA;
  /*
    .file-node-content
    .file-tree-node.active>.file-node-content
    .empty-file-placehoder
  */
  --control-text-color:var(--text-color);
  /*
    .file-node-content:hover
  */
  --control-text-hover-color:var(--text-color);
  /*
    .md-grid-board-wrap .popover-title
    .md-mathjax-midline
    .dropdown-menu .divider
    .ty-quick-open-category.ty-has-prev .ty-quick-open-category-title
    .sidebar-tabs
    .sidebar-footer
    .file-list-item
    #sidebar-files-menu
    #sidebar-files-menu>.show+.menuitem-group-label.show
    .ty-search-item
  */
  --window-border:1px solid #E9E9E9;
  /*
    .typora-quick-open-item.active
    .file-tree-node.active>.file-node-background
    .file-list-item.active
    .ty-side-sort-btn.active
    #sidebar-loading-template,
    #sidebar-loading-template.file-list-item
    .ty-search-item-line.active,
    .ty-search-item-line:hover,
    .ty-search-item.active
    .file-list-item-count
    .ty-sidebar-search-panel .searchpanel-search-option-btn.select,
    .ty-sidebar-search-panel .searchpanel-search-option-btn:hover
  */
  --active-file-bg-color:#EEEEEE;
  /*
    .typora-quick-open-item.active
    .file-tree-node.active>.file-node-content
    .file-list-item.active
    #sidebar-loading-template,
    #sidebar-loading-template.file-list-item
    .ty-search-item-line.active,
    .ty-search-item-line:hover,
    .ty-search-item.active
    .file-list-item-count
    .ty-sidebar-search-panel .searchpanel-search-option-btn.select,
    .ty-sidebar-search-panel .searchpanel-search-option-btn:hover
  */
  --active-file-text-color:inherit;
  /*
    .file-tree-node.active>.file-node-background
  */
  --active-file-border-color:#777777;
  /*
    .btn:focus
    .md-hr:focus
    .sidebar-content.on-drop:after
  */
  --focus-ring-color:#6EACE2;
  /*
    Related to window.css
    Background color when selected.

    #typora-sidebar
    #typora-quick-open
  */
  --side-bar-bg-color:var(--theme-color);
  /*
      .dropdown-toggle.btn-default
      .dropdown-menu>li>a:focus,
      .dropdown-menu>li>a:hover
      .auto-suggest-container li.active,
      .auto-suggest-container li:hover
      .footer-item:hover,
      .sidebar-footer-item:hover
      .context-menu.dropdown-menu>.active>a,
      .context-menu.dropdown-menu>li>a:hover,
      .menu-style-btn.active
      .md-rawblock-tooltip-btn:hover
      .ty-on-drag-enter
  */
  --item-hover-bg-color:#777777;
  /*
    .btn-default.active,
    .btn-default.focus,
    .btn-default:active,
    .btn-default:focus,
    .btn-default:hover,
    .open>.dropdown-toggle.btn-default
    .footer-item:hover,
    .sidebar-footer-item:hove
    .context-menu.dropdown-menu>.active>a,
    .context-menu.dropdown-menu>li>a:hover,
    .menu-style-btn.active
    .md-rawblock-tooltip-btn:hover
    .ty-on-drag-enter
  */
  --item-hover-text-color:inherit;
  --side-bar-menu-active-tint:var(--side-bar-menu-active-tint);
  --mac-title-bar-height:20px;
  /*
    .pin-outline content,.pin-outline titlebar
    #typora-sidebar
    #typora-sidebar-resizer
  */
  --sidebar-width:270px;
  /*
    .md-rawblock-on-edit>.md-rawblock-tooltip,
    .md-rawblock:hover>.md-rawblock-container,
    .md-rawblock:hover>.md-rawblock-tooltip
    .md-rawblock-on-edit>.md-rawblock-tooltip,
    .md-rawblock:hover>.md-rawblock-container,
    .md-rawblock:hover>.md-rawblock-tooltip
  */
  --rawblock-edit-panel-bd:#F5F6F7;
  /*
    window.css

    .typora-fullscreen,
    .typora-maxmized
  */
  --window-border-color:#777777;

  /*
    current theme.
  */

  --source-code-mode-header-color:#916066; /* Acebi */
  --base-font-size:16px;
  --base-font-weight:300;
  --line-height:1.6;
  --header-margin:0.5rem;

  /* blockquote */
  --blockquote-border-color:#DFE2E5;
  --blockquote-font-color:#777777;

  /* task lists */
  --task-color:var(--theme-color);
  --task-done-color:#ADADAD;

  /* code blocks */
  --code-block-color:#F5F2F0;
  --code-block-number-color:#999999;
  --code-block-border-color:#E7EAED;

  /* math block */
  --math-block-color:var(--code-block-color);

  /* table */
  --table-color:#FBE8C9;
  --table-head-color:#E7BB5E;
  --table-row-border-color:#DFE2E5;
  --table-even-row-color:#F8FCFA;

  /* horizontal */
  --horizontal-color:#E7E7E7;

  /* link */
  --link-color:#3366CC;
}

@media (max-width:1000px) {
  :root {
    --sidebar-width:240px
  }
}

html {
  font-size:var(--base-font-size);
  font-family:var(--monospace);
  font-weight:var(--base-font-weight);
  background-color:var(--bg-color);
  color:var(--text-color);
  -webkit-font-smoothing:antialiased;
}

body {
  line-height:var(--line-height);
}

/* preview mode's css */

/* Headings */
h1 {
  font-weight:normal;
  line-height:4rem;
  font-size:3rem;
  margin-top:var(--header-margin);
  margin-bottom:var(--header-margin) #EEEEEE;
}

h2 {
  font-weight:normal;
  line-height:3rem;
  margin-top:var(--header-margin);
  margin-bottom:var(--header-margin);
}

h3 {
  font-weight:normal;
  margin-top:var(--header-margin);
  margin-bottom:var(--header-margin);
}

h4 {
  font-weight:normal;
  margin-top:var(--header-margin);
  margin-bottom:var(--header-margin);
}

h5 {
  font-size:1.125rem;
  font-weight:normal;
  margin-top:var(--header-margin);
  margin-bottom:var(--header-margin);
}

h6 {
  font-size:1rem;
  font-weight:bold;
  margin-top:var(--header-margin);
  margin-bottom:var(--header-margin);
}

/* Blockquotes */
blockquote {
  border-left:4px solid var(--blockquote-border-color);
  color:var(--blockquote-font-color);
  padding:0 15px;
  margin:0.8em 0;
}
/* double blockquote */
blockquote blockquote {
  padding-right:0;
}

/* Lists
    Ref:https://support.typora.io/List-Style/
*/
/* un-ordered list */
ul {
  margin:0.8em 0;
  padding-left:30px;
  list-style-type:disc;
  list-style-position:outside;
}
ul ul {
  margin:0.8em 0;
  padding-left:30px;
  list-style-type:circle;
  list-style-position:outside;
}
ul ul ul {
  margin:0.8em 0;
  padding-left:30px;
  list-style-type:square;
  list-style-position:outside;
}

ul:first-child {
  margin-top:0;
}
ul:last-child {
  margin-bottom:0;
}
/* child combinator */
li > ul {
  margin:0 0;
}

/* ordered list */
ol {
  padding-left:45px;
  list-style-type:decimal-leading-zero;
}
ol:first-child {
  margin:0.8em 0;
  margin-top:0;
}
ol:last-child {
  margin-bottom:0;
}
/* child combinator */
li > ol {
  margin:0 0;
}

/* Task List */
.task-list-done {
  text-decoration:line-through;
  color:var(--task-done-color);
}

/* Code Blocks
    Ref:https://github.github.com/gfm/#fenced-code-blocks
 */
.md-fences {
  border:1px solid var(--code-block-border-color);
  background-color:var(--code-block-color);
  border-radius:3px;
  font-size:0.9em;
  margin-bottom:15px;
  margin-top:15px;
  padding:2px 4px 0px 4px;
  padding-top:8px;
  padding-bottom:6px;
}

.CodeMirror-linenumber {
  color:var(--code-block-number-color);
}

/* Math Blocks */
.md-math-container {
  background-color:var(--math-block-color);
}

.md-mathblock-panel {
  background-color:var(--math-block-color);
}

/* Tables */
table {
  background-color:var(--table-color);
  word-break:initial;
  padding:0;
}

thead, tr:nth-child(2n) {
  background-color:var(--table-head-color);
}

/* table header */
th {
  font-weight:bold;
  border-bottom:0;
  padding:6px 13px;
}

/* table row */
tr {
  border:1px var(--table-row-border-color);
}

/* table data */
td {
  margin:0;
  padding:6px 13px;
}

/* Footnotes */
.footnotes {
  color:var(--md-char-color);
}

/* Yaml */
.md-meta-block.md-end-block.md-focus {
  background-color:var(--task-color);
}

/* Horizontal Rules */
hr {
  height:2px;
  padding:0;
  margin:16px 0;
  background-color:var(--horizontal-color);
  border:0 none;
  overflow:hidden;
  box-sizing:content-box;
}

/* Table of Contents */
.md-toc {
  color:var(--panel-border-color);
}

/* Links */
a {
  color:var(--link-color);
  text-decoration:none;
}
a:hover,
a:active {
  text-decoration:underline;
}

p {
  font-size:1rem;
  line-height:1.75rem;
  margin:0 0 1.25rem;
}

.md-def-url {
  color:var(--link-color);
  text-decoration:none;
}

/* content width */
#write {
  max-width: 860px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 100px;
}

code {
  background-color: #ECE8E8;
  border: 1px solid #ECE8E8;
  border-radius: 3px;
  font-size: 0.9em;
}

/* source code mode's css */
.cm-header.cm-header1,
.cm-header.cm-header2,
.cm-header.cm-header3,
.cm-header.cm-header4,
.cm-header.cm-header5,
.cm-header.cm-header6 {
  /* Related to base-control.css */
  color:var(--source-code-mode-header-color);
}

#typora-source .CodeMirror-linenumber {
  visibility:visible;
}